.inner {
    overflow: hidden;
    border-radius: 20px;
    background: #fffffff2;
    display: flex;
    box-shadow: 8px -8px 16px #c3c3c3, -8px 8px 16px #fdfdfd;
}

.inner:hover {
    transform: scale(1.05);
    border: 2px solid rgba(0, 0, 0, 0.475);
}

.image-holder {
    width: 60%;
    padding-right: 40px;
}

h3 {
    font-size: 35px;
    font-family: elmessiri-semibold;
    text-align: center;
    margin-bottom: 50px;
    color: #ff9a9c;
}

.error {
    text-align: center;
    position: relative;
    color: red;
    bottom: 16px;
    font-size: 16px;
}

#content .row {
    display: flex;
    justify-items: center;
}

.form-control {
    display: block;
    width: 100%;
    border-radius: 23.5px;
    height: 47px;
    padding: 0 24px;
    color: gray;
    font-size: 13px;
    border: none;
    background: #f7f7f7;
    margin-bottom: 39px;
    margin-top: -20px;
    margin-left: 20px;
}

.forgetpassword {
    font-size: 12px;
    padding: 0 0 20px 20px;
}

button {
    letter-spacing: 2px;
    border: none;
    width: 133px;
    height: 47px;
    margin-right: 19px;
    border-radius: 23.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #ff9a9c;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-family: montserrat-semibold;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

button.btn {
    letter-spacing: 2px;
    border: none;
    width: 133px;
    height: 47px;
    margin-right: 19px;
    border-radius: 23.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #ff9a9c;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-family: montserrat-semibold;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

button.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

button.btn::after {
    background-color: #c74f4f71;
}

button.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.modal-noti {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 100;
    height: 200px;
    color: #ff9897;
    border-radius: 20px;
    font-size: 1.4rem;
}

#toggle {
    background-color: #fffdfd;
    display: none;
    width: 100%;
    height: auto;
    max-height: 400px;
    border-bottom: 1px solid #eaa9a9cf;
    border-top: 1px solid #e29e9ead;
    padding: 5px;
}

#toggle .bars {
    border: 1px solid #e0565631;
    float: right;
    width: 6%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    color: #dfa4a448;
    margin-right: 5px;
}

#toggle .logo-bars {
    float: right;
    width: 15%;
    height: auto;
    padding-right: 40px;
}

#toggle .logo-bars img {
    width: 100%;
    height: auto;
}

#toggle .giohang-bars {
    border: 1px solid #a879794f;
    width: 6%;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
    color: #dfa4a4a9;
}

@media screen and (max-width: 900px) {
    #main-menu {
        display: none;
    }
    .header-logo {
        display: none;
    }
    nav {
        display: none;
    }
    #toggle {
        display: block;
        margin-top: 17px;
    }
    .buy {
        display: none;
    }
    .product-name {
        font-size: 12px;
    }
}

#header .header-logo {
    width: 100%;
    height: 80px;
    background-color: #ffffff00;
    padding: 0px;
    margin: 0px;

}

#header .header-logo .logo {
    width: 30%;
    height: 80px;
    margin: 0px;
    float: left;
}

#header .header-logo .menu-left li {
    list-style: none;
    display: flex;
    z-index: 3;
}

#header .header-logo .menu-left li {
    list-style: none;
    display: flex;
}
#header .bags{
    cursor: pointer;
}
#header {
    height: 80px;
    position: relative;
    width: 100%;
    padding: 0px;
    top: -16px;
    background-repeat: no-repeat;
    background-size: cover;

}

.tb {
    display: table;
    border: none;
}

.td {
    display: table-cell;
    vertical-align: middle;
    border: none;
}

#cover input,
#cover button {
    color: #ff5fdcb0;
    font-family: Nunito;
    padding: 0px;
    margin: 5px;
    border: 0;
    background-color: transparent;
}

#cover {
    position: absolute;
    top: 35%;
    left: 70px;
    right: 0;
    width: 400px;
    padding-top: 15px;
    margin: -68px auto 0 auto;
    transform: scale(0.6);
    position: absolute;
    border-bottom: 3px solid hsla(327, 56%, 36%, 0.275);
}

#cover input[type="text"] {
   width: 100%;
    height: 46px;
    font-size: 25px;
    line-height: 1; 
}

#s-cover {
    width: 1px;
    padding-left: 35px;
}

#cover input[type="text"]::placeholder {
    color: #f700a9;
}

#cover button {
    position: relative;
    display: block;
    cursor: pointer;
    width: 35px;
    height: 57px;
}

#s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 3px solid #e457c1;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span {
    position: absolute;
    top: 34px;
    left: 30px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before,
button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 2px;
    border: 3px solid #e457c1;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 2px;
    border-width: 0;
    border: 3px solid #e457c1;
    border-radius: 20px;
}

#s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before {
    bottom: 18px;
    transform: rotateZ(60deg);
}

#s-cover:hover button span:after {
    bottom: -9px;
    transform: rotateZ(-60deg);
}

#s-cover:hover button span:before,
#s-cover:hover button span:after {
    right: 3px;
    width: 30px;
    border: 3px solid #e457c1;
}

#tuongvi {
    margin-top: 20px;
    display: flex;
    float: right;
    margin-right: 70px;
}

#tuongvi li a:hover {
    color: #800d0d;
}

#tuongvi>li {
    padding-left: 10px;
    padding-right: 25px;
    border: 2px solid #ff00bb;
    background-color: #ffd7f8;
    border-radius: 20px;
    padding: 10px;
    color: #df23b3;
    margin-left: 9px;
}

#tuongvi li a {
    color: #df23b3;
    display: block;
    padding: 0px 25px;
    list-style: none;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.list-giohang {
    margin-left: 60%;
    width: 38%;
    height: 70%;
    background-color: #ffffff;
    padding: 20px;
    z-index: 2000;
    position: absolute;
    float: right;
    position: fixed;
    top: 10%;
    overflow-y: scroll;
   
    box-shadow: 10px -5px 10px #f8d5d5;
    display: none;
}

.list-giohang h3 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F2A2C0;
}
.list-giohang table {
    width: 90%;
}

.list-giohang table thead tr th:first-child {
    text-align: left;
    color: #fa8b8b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.list-giohang table thead tr th:nth-child(2) {
    text-align: left;
    color: #fa8b8b;
    font-family: cursive;
}
.list-giohang table thead tr th:nth-child(3) {
    text-align: left;
    color: #fa8b8b;
    font-family: cursive;
}

.list-giohang table thead tr th:nth-child(4) {
    text-align: left;
    color: #fa8b8b;
    font-family: cursive;   
}

.list-giohang table tbody tr td {
    border-bottom: 1px solid #feadad98;
    padding: 10px;
    color: #fa8b8b;
    
}
.container {
    margin: 0px;
    width: 100%;
    height: auto;
    position: relative;
    background-color: #ffffff00;
}

#thanh-bar {
    width: 50%;
    height: auto;
    background-color: #f4bdbdea;
    float: left;
    margin-left: 50%;
    padding-bottom: 10px;
    display: none;
    position: absolute;
    z-index: 1;
}

#bars-menu {
    list-style: none;
    margin: 0px;
    padding-left: 60px;
}

#bars-menu li {
    position: relative;
}

#bars-menu li a {
    color: rgba(18, 6, 6, 0.644);
    display: block;
    padding: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

#main-menu {
    display: flex;
    list-style: none;
    padding-left: 160px;
    margin: 0px;
    transition: all 2s ease-in-out;
    z-index: 1;
    background-color: #ffffff00;
}

#main-menu li .user {
    padding-left: 30px;
}

#main-menu li input {
    color: rgb(150, 75, 75);
    display: block;
    padding: 6px;
    list-style: none;
    margin-top: 40px;
    margin-left: 70px;
    width: 130px;
    border-bottom: 2px groove #b1154a;
}

#main-menu li button {
    color: rgb(150, 75, 75);
    display: block;
    padding: 6px;
    list-style: none;
    text-decoration: none;
    margin-top: -31px;
    margin-left: 200px;
}

ul.sub-menu2 {
    list-style: none;
    height: 40px;
    font-size: 14px;
    margin-left: -170px;
    margin-top: 25px;
    padding-bottom: 30px;
    width: auto;
    display: none;
    border-left: 1px solid #9d151562;
    text-align: center;
    background-color: #f1d5d5;
    overflow: hidden;
    border-radius: 20px;
    z-index: 1;
}

ul.sub-menu2 li {
    text-align: center;
    padding-bottom: 10px;
    padding-left: -20px;
    padding-top: 10px;
}

li:hover ul.sub-menu2 {
    display: block;
    position: absolute;
}


.subnav {
    display: none;
    position: absolute;
    background: #ffdcdc;
    max-width: 1215px;
    left: -243px;
    height: auto;
    font-size: 16px;
    z-index: 100000;
    justify-content: space-between;
    animation: Open 3.3s ease-in;
    border: none;
    border-radius: 0%;
    justify-content: space-between;
    box-shadow: 0px 0px 8px #ccc;
    animation: Open 0.3s ease-in;
}

@keyframes Open {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.subnav img {
    width: 200px;
    height: auto;
}

.subnav-list {
    margin: 10px;
    width: 20%;
}

.subnav-list ul {
    list-style: none;
}

.subnav-list h5 {
    color: #861d1d;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
}

.subnav-list ul li a {
    font-size: 16px;
}

li:hover .subnav {
    display: flex;
    position: absolute;
}


/* tao footer */

.footer-distributed {
    background: #f6dcdc;
    box-sizing: border-box;
    border-top: 1px solid #000000;
    border-left: 2px solid #000000;
    border-right: 1px solid #000000;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 20px 20px;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1000;
    position: absolute;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* Footer left */

.footer-distributed .footer-left img {
    margin-left: 40px;
}

.footer-distributed .footer-left {
    width: 40%;
    height: auto;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #0d0d0db1;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.1;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
}


/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #55414100;
    border: 1px solid #000000;
    color: #0601019b;
    font-size: 18px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #000000bf;
    font-weight: 550;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
    font-weight: 550;
}

.footer-distributed .footer-center p a {
    text-decoration: none;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #4a4234;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #3b3434;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: 1px solid #0000005f;
    border-radius: 50%;
    background-color: #33383b00;
    font-size: 20px;
    color: #0e07075f;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    color: #151313;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

.footer-left a:hover {
    color: rgb(147, 14, 41);
}

.title02 h3 {
    text-transform: capitalize;
    padding: 5px 10px;
}

.title02 h3:before {
    position: absolute;
    left: 0;
    bottom: auto;
    width: 250px;
    height: 2px;
    content: "";
    background-color: #c50000;
}

.title02 h3 span {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
}

.titletwo h3 {
    text-align: center;
    font-size: 27px;
    color: #4f093e;
}

.titletwo h3:before {
    left: 50%;
    margin-left: -150px;
}

#content {
    width: 100%;
    height: 600px;
    
}
#content .danhmuc{
    width: 25%;
    float: left;
}
#content .inner{
    width: 70%;
    float: right;
    margin: 30px;

}
#content .inner form{
    width: 30%;
    padding: 0px;
    margin-top: 40px;
    margin-left: -100px;
}
.card1 {
    margin: 20px;
    padding: 20px;
    width: 300px;
    min-height: 150px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card1:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card1__link,
  .card1__exit,
  .card1__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .card1__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .car1__link:hover::after {
    width: 100%;
  }
  
  .text {
    color: white;
  }
  
  .card1__exit {
    grid-row: 1/2;
    justify-self: end;
  }
  
  .card1__icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .card1__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
  }
  
  .card1__apply {
    grid-row: 4/5;
    align-self: center;
  }
  
  .card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
  }
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }
  .card2 {
    margin-left: 20px;
    padding-bottom: 20px;
    max-width: 400px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    height: 300px;
  }
  
  .conten {
    padding: 1.1rem;
  }
  
  .imag {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: rgb(239, 205, 255);
  }
  .imag img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(239, 205, 255);
  }
  
  .titl {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }
  .contactButton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #5566c2;
  }
  
  .contactButton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #5566c2;
  }